@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
}

@keyframes w-grow {
  from {
    max-width: 0;
  } to {
    max-width: 1000px;
  }
}

@keyframes heightscale {
  from {
    transform: translateY(-50%);
  } to {
    transform: translateY(10%);
  }
}

.text-stroke-black,
.text-stroke-bg {
  --text-stroke-width: 6px;
  position: relative;

  z-index: 0;
}

.text-stroke-bg {
  --text-stroke-width: 4px;
}

.text-stroke-black:before {
  content: attr(data-stroke);

  position: absolute;
  left: 0;

  line-height: inherit;

  -webkit-text-stroke: var(--text-stroke-width) #000;

  z-index: -1;
}

.text-stroke-bg:before {
  content: attr(data-stroke);

  position: absolute;
  left: 0;

  line-height: inherit;

  -webkit-text-stroke: var(--text-stroke-width) oklch(var(--p));

  z-index: -1;
}

.socials-container > a > div.focus-under,
.socials-container > a > div.focus-under {
  transform-origin: left;
  transform: scaleX(0);

  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 0);
  transition-duration: 100ms;
}

.socials-container > a:focus > div.focus-under,
.socials-container > a:hover > div.focus-under {
  transform: scaleX(1);
}

@keyframes namebannerlr {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(var(--namebanneroffset));
  }
}

@layer base {
  ul {
    @apply list-disc pl-4;
  }
}

@layer components {
  a.link {
    @apply hover:underline text-[#ff3084];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
