@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
}

.text-stroke-black {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
