#topbar-window > a {
	background-image: linear-gradient(theme("colors.black-accent") 0 0);
	background-position: 0% 100%;
	background-size: 0 2px;
	background-repeat: no-repeat;

	transition-property: background-size;
	transition-duration: 300ms;
}

#topbar-window > a:hover,
#topbar-window > a:focus {
	background-size: 100% 2px;
}

#topbar-window.scrolled > nav > a.active > img {
	display: block;
}